*{
	margin:0;
	padding:0;
	font-family:sans-serif;
}
body {
  background:url("cover9.jpg") no-repeat;
  overflow:hidden;
}
.nav{
	width:85%;
	margin:auto;
	padding:35px 0;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.nav ul li{
	list-style:none;
	display:inline-block;
	margin:0 20px;
	position:relative;
}
.nav ul li a{
text-decoration:none;
text-transform:uppercase;
color:#F9CE63;
}
.nav ul li::after{
	content:'';
	height:3px;
	width:0;
	background:#fff;
	position:absolute;
	left:0;
	bottom:-10px;
	transition:0.5s;
}
.nav ul li:hover::after{
	width:100%;
}
.content{
	width:100%;
	position:absolute;
	top:60%;
	left:20%;
	transform:translateY(-50%);
	text-align:center;
	color:#fff;
}
.content h1{
	font-size:40px;
	margin-top:40px;
}
.content p{
	margin:20px auto;
	font-weight:100;
	line-height:25px;
}
button{
	width:200px;
	padding:15px 0;
	text-align:center;
	margin:20px 10px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid gold;
	background:transparent;
	color:#fff;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}
button:hover {
    color: #001F3F;
    background-color:gold;
}
